.welkomstknoppen {
    display: flex;
    flex-direction: row;
    
}

.welkomstknop {
    border: 7px solid #f8ec81;
    margin: 10px;
    padding: 10px;
    min-width: 150px;
    border-radius: 25%;
    
    background-color: #f8ec81;
    color: #34143e;
    font-weight: 700;
}

.welkomstknop:hover {
    background-color: azure;
    cursor: pointer;
}

.welkomstknop_icon, .welkomstknop_label {
    margin: auto;
    text-align: center;
    margin: 5px;
    font-size: 10pt;
    
}

body {
    background-color: #ead6f0;
}

.NieuweWerkdagDikkelijn {
    color: white;
    background-color: #b288bf;
    padding: 2vh;
    width: 100%;
    justify-content: space-around;

   
    
    

}

.Kleurtje {
    background-color: white;
}