.hidden {
    display: none;
}

html {
    font-family: sans-serif;
    height: 100%;
    
}

body {
    margin:auto;
    justify-content: center;
}

.header-title {
    font-size: 30pt;
    color: white;
    background-color: #34143e;
    padding: 2vh;
    margin-bottom: 1vh;

}

main {
    justify-content: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    
}

.p1 {
    width: 500px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    padding-bottom: 10px;
    background: #f8ec81;
    margin:auto;
    margin-bottom: 40px;
    border-radius: 10px;
}


.colofon {
    background-color: #d6dbdf;
    display: flex;
}
.footer-item {
    margin: 20px;
    display: flex;
}

button {
    background-color: #f8ec81;
    border: #f8ec81;
    color: #200b25;
    font-weight: 700;
    border-radius: 25px;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-right: 1vh;
    padding-left: 1vh;

}

button:hover { 
    background-color: aqua;
    box-shadow: 5px #B288BF;
}

.navigatie {
    display: flex;
    justify-content: center;
}

nav{
    
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    color: azure;
    
    margin: auto;
    width: fit-content;
 
}

header {
   
    
    padding: 20px 40px;
    text-align: left;
    align-items: left;

    overflow: hidden;
    
}


.Goodzotogether {
    color:white;
    font-size: 25px ;
    box-shadow: #200b25;
    text-shadow: #200b25;
    margin: auto;
    width: fit-content;
    
}

.LOGO {
    margin-left: 20px;
}