.hidden {
    display: none;
}

html {
    font-family: sans-serif;
    height: 100%;
    
}

body {
    margin:auto;
    justify-content: center;
}

.header-title {
    font-size: 30pt;
    color: white;
    background-color: #34143e;
    padding: 2vh;
    margin-bottom: 1vh;

}

main {
    justify-content: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    
}

.p1 {
    width: 500px;
    display: flex;
    padding: 10px;
    background: #f8ec81;
    margin:50px;
    margin-left:120px;
    border-radius: 10px;
    
}


.colofon {
    background-color: #d6dbdf;
}
.footer-item {
    margin: 20px;
}

button {
    background-color: #f8ec81;
    border: #f8ec81;
    color: #200b25;
    font-weight: 700;
    border-radius: 25px;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-right: 1vh;
    padding-left: 1vh;

}

button:hover { 
    background-color: aqua;
    box-shadow: 5px #B288BF;
}

.navigatie {
    position: fixed;
    align-self: center;
}

nav{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #34143e;
    color: azure;
    border-radius: 10%;
    background: transparent 70%;
}

header {
    background: radial-gradient(circle at 80% 100%,
    #34143e 20%,
    #b288bf 40%,
    #C9AAD3 60%,
    #f8ec81 80%
    );
    background-size: 200% 200%;
    animation: smoothWaveAnimation 5s ease-in-out infinite;
    padding: 20px 40px;
    text-align: left;
    align-items: left;

    overflow: hidden;
    
}

@keyframes smoothWaveAnimation {
    0% {
        background-position: 0% 50%;
    }

    15% {
        background-position: 0% 15%;
    }
    25% {
        background-position: 15% 30%;
    }

    35% {
        background-position: 30% 45%;
    }

    50% {
        background-position: 45% 60%;
    }

    65%{
        background-position: 60% 75%;
    
    }
    75% {
        background-position: 75% 80%;
    }


    100% {
        background-position: 80% 20%;
    }
}

.Goodzotogether {
    color:white;
    font-size: 25px ;
    
}

.LOGO {
    margin-left: 20px;
}