<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodCO2gether - {{ error_code }}</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/error.css">
</head>
<body>
    <header>
        <div class="header-title">
            GoodCO2gether
        </div>
        <nav id="navigatie">
            <button value="" class="nav-item">Home</button>
            <button value="werkdag" class="nav-item">Nieuwe werkdag</button>
            <button value="historie" class="nav-item">Mijn historie</button>
            <button value="footprint" class="nav-item">Mijn footprint</button>
            <button value="gegevens" class="nav-item">Mijn gegevens</button>
        </nav>
    </header>


    <main>
        <h1>Er is een fout opgetreden</h1>
        <div class="error-div">
            <h2>Error {{ error_code }}</h2>
            <p>{{ error_message }}</p>
            <p>{{ description  }}</p>
        </div>
    </main>


    <footer>
        <article class="colofon">
            <span class="footer-item">© 2024 Goodzo B.V.</span>
            <span class="footer-item">Vacatures bij Goodzo B.V.</span>
            <span class="footer-item">Disclaimer</span>
        </article>
    </footer>

    <script src="../static/js/navigatie.js"></script>
    <script src="../static/js/error.js"></script>
</body>
</html>